<div style="margin-top: 75px; position: relative; z-index: 10000000">
  <%= link_to "Create category", new_category_path %>
  <%= link_to "Create item", new_item_path %>
  <%= link_to "Create item option", new_item_option_path %>
</div>
