<div class="regular-container-admin">
  <h1>Admin</h1>
  <% if current_user.admin == false %>
  <h2>Admin tools are turned off for this prototype website.</h2>
  <% else %>
  <div class="admin-nav">
    <h4><i class="fas fa-toggle-off"></i> Online Offline</h4>

    <h4 class="admin-menu-heading">Orders</h4>
    <a href="">New Orders</a>
    <a href="">Completed Orders</a>
    <!-- <a href="">Cancelled Orders</a> -->
    <h4 class="admin-menu-heading">Customers</h4>
    <a href="">Customers</a>
    <h4 class="admin-menu-heading">Employees</h4>
    <a href="">Employees</a>
    <h4 class="admin-menu-heading">Configuration</h4>
    <%= link_to "Categories", categories_path %>
    <%= link_to "Items", indexAdmin_items_path %>
    <%= link_to "Item Options", item_options_path %>
  </div>
  <div>

  </div>
  <% end %>
</div>
