<h1>hello</h1>
<h1>hello</h1>

<h1>hello</h1>

<h1>hello</h1>

<h1>hello</h1>

v
<h1>hello</h1>
v

v<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<%= link_to "Create category", new_category_path %>
<%= link_to "Create item", new_item_path %>


new_category
