.cart-container {
  display: flex;
  flex-wrap: wrap;
}

.shopping-cart-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid hsla(116, 0%, 85%, 1.00);
  justify-content: space-between;
  padding: 16px;
}

.checkout-section {
  position: sticky;
  top: 0;
  border: 1px solid hsla(116, 0%, 81%, 1.00);
  flex-grow: 2;
  margin: 0px 24px;
  padding: 20px;
  height: fit-content;
}

.checkout-section-flex {
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 992px) {
  .regular-container {
    position: relative; top: 75px;
  }
}








