<div class="banner-container">
  <p class="banner-heading">Tortas Elorduy</p>
  <p>Tortas and Hamburgers</p>
</div>

<div class="info">
  <p>
    WE SERVE TORTAS AND HAMBURGERS.
  </p>
  <p>
    SOME OF OUR FOOD MAY CONTAIN NUTS. PLEASE CALL BEFORE ORDERING IF YOU HAVE ALLERGY CONCERNS.
  </p>
  <p>
    ONLINE ORDERING IS AVAILABLE FROM 11:00 AM - 2:30 PM FOR LUNCH AND 5:00 PM - 10:00 PM FOR DINNER.
  </p>
</div>



<div class="map">

</div>
