<div class="banner-container">
  <p class="banner-heading">Tortas Mr. Elorduy</p>
  <p>Tortas and Hamburgers</p>
</div>

<div class="main-container">
  <div class="info">
    <p>WE SERVE TORTAS AND HAMBURGERS.</p>
    <p>SOME OF OUR FOOD MAY CONTAIN NUTS. PLEASE CALL BEFORE ORDERING IF YOU HAVE ALLERGY CONCERNS.</p>
    <p>ONLINE ORDERING FOR PICK UP OR DELIVERY IS AVAILABLE FROM 11:00 AM - 2:30 PM FOR LUNCH AND 5:00 PM - 10:00 PM FOR DINNER.</p>
  </div>
</div>

<div class="main-container">
  <div class="menu">
      <h3>MENU</h3>
      <div class="menu-items">
        <div class="tortas menu-category">
          <h5><strong>TORTAS</strong></h5>
          <ul>
            <li>Torta de pierna</li>
            <li>Torta de pollo</li>
            <li>Torta de milanesa</li>
            <li>Torta de chuleta</li>
            <li>Torta de chuleta</li>
            <li>Torta de bistec</li>
            <li>Torta de milanesa de pollo</li>
            <li>Torta de milanesa de pollo con queso</li>
          </ul>
        </div>

        <div class="hamburugesas menu-category">
          <h5><strong>HAMBURGUESAS</strong></h5>
          <ul>
            <li>Hamburguesa con queso amarillo</li>
            <li>Hamburguesa con quesillo</li>
            <li>Hamburguesa con jamón y queso amarillo</li>
            <li>Hamburgusa con tocino y queso amarillo</li>
            <li>Hamburguesa con piña y quesillo</li>
            <li>Hamburguesa Hawaina</li>
            <li>Hamburguesa doble carne con queso</li>
          </ul>
        </div>

        <div class="sides menu-category">
          <h5><strong>SIDES</strong></h5>
          <ul>
            <li>Papas</li>
            <li>Papas fritos</li>
            <li>Macaroni</li>
            <li>Bread sticks</li>
          </ul>
        </div>

        <div class="bebidas menu-category">
          <h5><strong>BEBIDAS</strong></h5>
          <ul>
            <li>Refresco</li>
            <li>Cerveza</li>
            <li>Agua fresca</li>
            <li>Horchata</li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="about">
    <h3>ABOUT US</h3>
    <p>Enrique Olvera abrió Pujol en la ciudad de México en el 2000. Su cocina siempre está transformándose; abreva ideas de aquí y de allá, reinterpreta y evoluciona, pero tiene las raíces puestas en los ingredientes y las técnicas mexicanas de todos los tiempos.</p>
  </div>
</div>

<div class="main-container">
  <h3>CONTACT</h3>
  <div class="contact">
    <div class="contact-text">
        <div>
          Aquiles Elorduy 5,<br>
          Nextengo, Azcapotzalco,<br>
          C.P. 02070,<br>
          CDMX, México
        </div>

        <div>
          T. (55) 8848 - 8854
          <br>
          info@mrtortas.com.mx
        </div>

          <ul>
            <li><a href="">FACEBOOK</a></li>
            <li><a href="">INSTAGRAM</a></li>
            <li><a href="">TWITTER</a></li>
          </ul>

    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.5651692281685!2d-99.18990558509269!3d19.474305786860555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f881ae24c297%3A0x51636fc99ab5714d!2sTortas%20Mr.%20Elorduy!5e0!3m2!1sen!2sus!4v1611542445038!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0; padding: 0 32px" allowfullscreen="" aria-hidden="false" tabindex="0" class="google-map"></iframe>
    <div class="restaurant-details">
      <ul>
        <li><strong>Hours</strong></li>
          <ul style="margin-bottom: 1rem;">
            <li>Monday    10-6PM</li>
            <li>Tuesday    10-6PM</li>
            <li>Wednesday    10-6PM</li>
            <li>Thursday    10-6PM</li>
            <li>Friday    10-6PM</li>
            <li>Saturday    10-6PM</li>
            <li>Sunday    10-6PM</li>
          </ul>
        <li><strong>Accepted payments: </strong>We accept visa and mastercard</li>
        <li><strong>Parking: </strong>Street parking is available and garage parking is available at Av. Azcapotzalco 417</li>
      </ul>
    </div>
  </div>
</div>
