html, * {
  margin: 0;
  padding: 0;
  color: black;
}

a, a:hover, a:visited {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.main-container {
  width: 80%;
  padding: 0;
  margin: 48px auto 0 auto;
}

.pos-relative {
  position: relative
}
