html, * {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'lato';
}

html {
   scroll-behavior: smooth;
}

body {
  background-color: white;
}

a, a:hover, a:visited {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.regular-container {
  width: 80%;
  padding: 0;
  margin: 3rem auto 3rem auto;
}

.pos-relative {
  position: relative
}

p {
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.1rem;
}

.btn {
  width: 100%;
}

strong {
  font-family: inherit;
  font-weight: 700;
}
