.menu-items {
  width: 60%;
  // // padding: 32px;
  // background-color: hsla(216, 21%, 15%, 0.1);
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // border-radius: 3px;
}

.menu-category {
  // border: 1px solid black;
  // border-radius: 3px;
  // padding: 16px;

}

.menu li {
  list-style: none;
}

.menu-item {
  border: 1px solid hsla(116, 0%, 90%, 1.00);
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 120px;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.item {
  transition: all .3s;
}

.item:hover {
  box-shadow: 1px 1px 8px hsla(0, 0%, 0%, 0.2);
  transform: translateY(-2px);
}

// Categories List Desktop
ul.categories-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // border-bottom: 1px solid hsla(116, 0%, 90%, 1.00);
  // margin: 16px 0px;
  list-style: none;
  width: 80%;
  margin: 0px auto;
}

hr {
  margin: 0;
  padding: 0;
}

ul.categories-list li {
  padding: 0px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 400;
  border-bottom: 3px solid white;
}

ul.categories-list li.categoryNameHighlight {
  border-bottom: 3px solid hsla(360, 72%, 48%, 1.00);
  cursor: pointer;
}

// ul.categories-list li:first-of-type {
//   border-bottom: 3px solid hsla(360, 72%, 48%, 1.00);
//   cursor: pointer;
// }

ul.categories-list li:hover {
  border-bottom: 3px solid hsla(360, 72%, 48%, 1.00);
  cursor: pointer;
}

.fa-sliders-h {
  display: none;
}

.category-title-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}


// Media Queries



@media only screen and (max-width: 992px) {
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
  }

  ul.categories-list {
    display: none;
  }

  .menu-shopping-cart {
    display: none;
  }

  .mobileMenu {
    width: 100%;
  }

  .menu-item {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .menu-items {
    width: 100%;
  }

  .regular-container {
    width: 100%;
    // padding: 0;
    // margin: 3rem auto 3rem auto;
  }

  .photo-menu {
    height: 70% !important;
    width: 25% !important;
    align-self: center;
  }

  .menu-item-left {
    padding-left: 0px !important;
  }


  .menu-category h4 {
    // background-color: hsla(116, 0%, 90%, 1.00);
  }

  .category-title-heading {
    background-color: hsla(116, 0%, 90%, 1.00);
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }

  .fa-sliders-h {
  display: block;
}
}
