.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  // transition: opacity 0.3s;
}



// beginning wesbos code
.modal-close-button {
  position: absolute;
  right: 0;
  top: -14px;
  right: -14px;
  z-index: 1000;
  font-size: 22px;
  color: black;
  border: 3px solid white;
  border-radius: 50%;
  background-color: white;
}

.modal-close-button:hover {
  cursor: pointer;
}

.modalInner {
  position: relative;
  z-index: 1000;
  // border-radius: 3px;
  background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  // transform: translateY(-100vh);
  // transition: all 0.5s;
  width: 45vw;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color: black;
  overflow: scroll;
}

.modal img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal figcaption {
  padding: 10px;
}

.modal h2 {
  color: black;
}

.modal.open .modalInner {
  // transform: translateY(0);
}

// .top-level {
//   position: absolute;
//   z-index: 999;
//   top: 0;
//   // left: 0;
//   background: white;
//   font-size: 13px;
//   display: grid;
//   width: 100%;
//   align-items: center;
//   justify-items: center;
//   opacity: 1;
//   color: black;
//   padding: 2px;
// }

.options {
  background-color: hsla(116, 0%, 96%, 1.00);
  padding: 0 0 0 24px;
  width: 100%;
}

.options h5 {
  width: 100%;
  line-height: 3.2rem;
  margin-bottom: 0;
  display: inline-block;
}


// wesbos base css button styling.

a.button, button, input[type="button"] {
  color: rgba(85, 87, 90, 1.00);
  background: white;
  padding: 1rem;
  border: 0;
  // border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  font-size:2rem;
  outline: none;
}

button:hover {
  color: #302D2C;
  font-weight: bold;
}

// firefox and all settings
* {
  outline: none;
}

a:active,
a:focus {
    -moz-outline-style: none;
}
// chrome setting here
button:focus {outline:0;}



/* Hide scrollbar for Chrome, Safari and Opera */
.modalInner::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modalInner {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body.closed {
  overflow: hidden;
}

.add-to-cart {
  border-top: .5px solid hsla(116, 0%, 89%, 1.00);
  padding: 1rem .5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-button {
  font-size: 1rem;
  background-color: hsla(0, 0%, 0%, 1.00);
  padding: .5rem 2rem;
  color: white;
  flex-grow: 1;
}
.counter {
  padding: 0 1rem;
}

.counterText {
  font-size: 2rem;
  margin: 0;
}

.special-notes {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  padding-top: 8px;
  padding-left: 24px;
}

.minus-quantity, .plus-quantity {
  cursor: pointer;
}

