.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 1;
  // transition: opacity 0.3s;
}
