// Header Desktop

header.header-desktop {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: hsla(115, 100%, 100%, 1.00);
  display: none;
}

nav.nav-desktop {
  height: 75px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  width: 150px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

nav.nav-desktop ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

nav.nav-desktop li {
  list-style: none;
  padding: 12px;
}

.shopping-cart-count-icon {
  position: absolute;
  right: -7px;
  top: 16px;
  font-size: 14px;
  color: white;
  background-color: hsla(39, 100%, 50%, 0.9);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

// Header Mobile

header.header-mobile {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: hsla(115, 100%, 100%, 1.00);
  display: none;
  align-items: center;
}

header.header-mobile nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  height: 75px;
}

.hamburger-button {
  font-size: 1.3rem;
}

.hamburger-button:hover {
  cursor: pointer;
}

// Mobile Navbar

// Modal Outside

.modalOutside {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // display: grid;
  // align-items: center;
  // justify-items: center;
  pointer-events: none;
  opacity: 0;
  // transition: opacity 0.3s;
}

.modalOutside.open {
  opacity: 1;
  pointer-events: all;
}

// Modal Inside
.modalInside {
  position: relative;
  z-index: 1000;
  // border-radius: 3px;
  background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transform: translateX(-100vw);
  transition: all 0.3s;
  width: 60vw;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;
  // text-align: left;
  // color: black;
  // overflow: scroll;
}

.modalOutside.open .modalInside {
  transform: translateX(0);
}






lewagon template navbar DO NOT USE

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



// Media Queries

@media only screen and (min-width: 992px) {
  header.header-desktop {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  header.header-mobile {
    display: block;
  }
}


