header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
}

nav {
  height: 65px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  width: 150px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

nav li {
  list-style: none;
  padding: 12px;
}





// lewagon template navbar DO NOT USE

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

