<div class="container menu pt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="show text-center mb-3">
      <h1>Add a category</h1>
      </div>

<%= render "category_form" %>

    </div>
  </div>
</div>
